// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors
$majorelle-blue: #3D06F6;
$deep-purple: #6E44F8;
$bright-purple: #CEC1FD;
$english-violet: #464168;
$magnolia: #F5F3FF;
$white: #FFFFFF;
$lemon-chiffon: #F4EBBE;
