@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";


// body {
//   font-family: 'Satoshi', sans-serif;
// }

.btn {
  border-radius: 50rem;
  padding: 0.5rem 1.5rem !important;
}

// :root {
//   --purple-dark: #6D28D9;
//   --purple-medium: #8B5CF6;
//   --purple-light: #DDD6FE;
//   --gray-dark: #1F2937;
//   --gray-medium: #4B5563;
//   --gray-light: #D1D5DB;
//   --white: #FFFFFF;
// }

// .text-purple-dark { color: var(--purple-dark); }
// .bg-purple-dark { background-color: var(--purple-dark); }
// .border-purple-dark { border-color: var(--purple-dark); }
// .bg-purple-light { background-color: var(--purple-light); }

// .btn-purple {
//   background-color: var(--purple-dark);
//   border-color: var(--purple-dark);
//   color: var(--white);
//   font-weight: 500;
// }
// .btn-purple:hover {
//   background-color: var(--purple-medium);
//   border-color: var(--purple-medium);
//   color: var(--white);
// }

// .btn-outline-purple {
//   color: var(--purple-dark);
//   border-color: var(--purple-dark);
//   font-weight: 500;
// }
// .btn-outline-purple:hover {
//   background-color: var(--purple-dark);
//   color: var(--white);
// }

.bg-purple-banner { background-color: var(--purple-dark); }
.text-purple { color: var(--purple-dark); }

// Custom Primary Button styles
.btn-primary {
  background-color: $majorelle-blue !important;
  border-color: $majorelle-blue !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  border-radius: 50rem !important; // optional: fully rounded pill
  transition: all 0.2s ease !important;

  &:hover {
    background-color: darken($majorelle-blue, 10%) !important;
    border-color: darken($majorelle-blue, 10%) !important;
    color: #ffffff !important;
  }
}

// Custom Button Outline Primary styles
.btn-outline-primary {
  color: $btn-outline-primary-color !important;
  border: $btn-outline-primary-border-width solid $btn-outline-primary-color !important;
  border-radius: $btn-pill-radius !important;
  font-weight: $btn-outline-primary-font-weight !important;
  font-size: 1.25rem !important;
  transition: all 0.2s ease !important;

  &:hover {
    color: #ffffff !important;                        // text becomes white
    background-color: $btn-outline-primary-color !important; // background fills with primary color
    border-color: $btn-outline-primary-color !important;     // keep border same
  }
}

// Button secondary
.btn-secondary {
  background-color: $bright-purple !important;
  border-color: $bright-purple !important;
  color: $majorelle-blue !important;
  font-weight: 700 !important;
  font-size: 1.25rem !important;
  border-radius: 50rem !important; // optional: fully rounded pill
  transition: all 0.2s ease !important;

  &:hover {
    background-color: darken($bright-purple, 10%) !important;
    border-color: darken($bright-purple, 10%) !important;
    color: $majorelle-blue !important;
  }
}

.btn-outline-secondary {
  font-weight: 700 !important;
  padding: 4px 12px !important;
  // background-color: $english-violet !important;
  border-color: $majorelle-blue !important;
  color: $majorelle-blue!important;
  border: 2px solid $majorelle-blue !important;

  &:hover {
    color: #ffffff !important;
    background-color: $majorelle-blue !important;
  }

}

.btn-outline-danger {
  font-weight: 700 !important;
  padding: 4px 12px !important;
  border: 2px solid !important;

   &:hover {
    color: #ffffff !important;
    border: 2px solid #fd1015 !important;
  }

}

.btn-success {
  font-weight: 500 !important;
  color: $english-violet !important;
}


// Custom Card styles
.card {
  border: $card-border !important;
  border-radius: $card-border-radius !important;
  box-shadow: $card-box-shadow !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease !important;

  &:hover {
    transform: translateY(-3px) !important;
    box-shadow: $card-box-shadow-hover !important;
  }

}

.card-home {
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.card-purple {
  padding: 48px;
  background-color: $deep-purple;
  color: white;
  border-radius: 12px;
  margin-left: 0px !important;
  margin-right: 0px !important;

  h2, h3 {
    color: white;
  }
  i {
    font-size: 2rem;
    padding-bottom: 48px;
  }
}

// Custom Badge styles
.badge {
  font-size: $badge-font-size !important;
  font-weight: $badge-font-weight !important;
  color: $badge-text-color !important;
  background-color: $badge-bg-color !important;
  border: $badge-border !important;
  border-radius: $badge-border-radius !important;
  padding: $badge-padding-vertical $badge-padding-horizontal !important;
  display: inline-block !important;
  line-height: 1 !important;

  &:hover {
    opacity: 0.9 !important;
  }
}

// Nav Item styles
.navbar .nav-link {
  font-size: $nav-item-font-size !important;
  font-weight: $nav-item-font-weight !important;
  color: $nav-item-color !important;
  transition: border-bottom 0.1s ease !important;

  &:hover {
    color: darken($nav-item-color, 10%) !important;
    font-weight: 500 !important;
    color: $majorelle-blue !important;
  }

  &.active, &:active {
    color: $nav-item-active-color !important;
    font-weight: $nav-item-active-font-weight !important;
    font-weight: 700 !important;
    // border-bottom: $nav-item-active-underline !important;
  }
}

// Pagination Styling
.pagination {

  gap: 0.5rem !important;

  &:hover {
    opacity: 0.9 !important;
  }

  // span {
  //   // margin-left: 0.50em !important;
  //   // margin-right: 0.50rem !important;
  //   font-size: 1.25rem !important;
  //   font-weight: $badge-font-weight !important;
  //   color: $badge-text-color !important;
  //   background-color: $badge-bg-color !important;
  //   border: $badge-border !important;
  //   border-radius: 12px !important;
  //   padding: $badge-padding-vertical $badge-padding-horizontal !important;
  //   display: inline-block !important;
  //   line-height: 1 !important;
  //   // gap: 0.5rem !important;
  // }
  // span.current {
  //   background-color: $majorelle-blue !important;
  //   color: #ffffff !important;
  // }
  a {
    // margin-left: 0.50em !important;
    // margin-right: 0.50rem !important;
    font-size: 1.25rem !important;
    font-weight: $badge-font-weight !important;
    color: $badge-text-color !important;
    background-color: $badge-bg-color !important;
    border: $badge-border !important;
    border-radius: 12px !important;
    padding: $badge-padding-vertical $badge-padding-horizontal !important;
    display: inline-block !important;
    line-height: 1 !important;
    text-decoration: none !important;
    // gap: 0.5rem !important;
  }
  a:hover {
    background-color: darken($badge-bg-color, 5%) !important;
    color: $badge-text-color !important;
  }
  a.current {
    background-color: $majorelle-blue !important;
    color: #ffffff !important;
    text-decoration: none !important;
  }
}


// Icon Background styles
.icon-bg {
  width: 80px !important;
  height: 80px !important;
  border-radius: 12px !important;
  color: $deep-purple !important;
  background-color: #F2F2F7 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

// Footer Styling
.footer-section {
  background-color: $bright-purple !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  color: white !important;

  h1 {
    margin-bottom: 4rem !important;
    margin-top: 4rem;
    font-family: $headers-font;
    font-size: 2.5rem;
    color: $english-violet;
  }

  .card {
    border: none !important;
    border-radius: 12px !important;
  }
}

.bottom-footer {
  color: #FFFFFF !important;
  background-color: #6E44F8 !important;
  width: 100vw !important;
  padding: 1rem 0 !important;
  text-align: center !important;
  font-weight: 500 !important;
  margin-left: calc(-50vw + 50%); // ensures it spans full width even inside container
}
.gradient-footer {
  // margin-top: 10vh;
  height: 25vh;
  width: 100vw;
  background: linear-gradient(to top, #CEC1FD 0%, rgba(206, 193, 253, 0) 100%);
  position: relative;
  z-index: 1;
}

// Background Pattern Styling
.background-pattern
{
  margin-top: -15vh;
  height: 45vh;
  width: 100vw;
  margin-bottom: -25vh;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(#6E44F8 1.3px, #ffffff 1.3px);
  background-size: 26px 26px;

}
.footer-content {
  z-index: 1 !important;
  position: relative;
}

// All Content (Just for z-index issues)
.all-content {
  z-index: 10 !important;
  position: relative;
}


// Brand Logo @Navbar
.navbar-brand {
  color: $majorelle-blue !important;
}



// Filter Checkboxes
#filter-checkboxes {
  padding: 48px;
  background-color: $deep-purple;
  color: white;
  border-radius: 12px;

  h2 {
    color: white;
  }

  .form-check {
    font-size: 1.25rem;

  }

  .form-check-input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  // display: flex;
  // align-items: center;  // vertically centers checkbox + label
  // justify-content: center; // optional: horizontally center if needed
  // padding-right: 16px !important;
  background-color: white;
  border-radius: 0.25rem;
  position: relative;
  appearance: none; // remove default styling


  &:checked {
    background-color: white;
    border-color: $majorelle-blue;
    border: 2px;
  }

  &:checked::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free"; // or your FA version
    font-weight: 900;        // solid icon
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $majorelle-blue; // your check color
    font-size: 1rem;
  }
}

}

// No Gigs Found Card
#card-no-gigs {
  height: 200px;
  width: 200px;
  background-color: white;
  align-self: center;
}

// Container Profile
.container-profile {
  padding: 48px !important;
}


// Alert rounded edges
.alert-rounded-edges {
  border-radius: 12px !important;
}

// Edit Gig and New Gig Form Styling
#new_gig {

  .edit-gig-h {
    display: none !important;
  }
  form {
    border-radius: 12px !important;
  }
}

.edit-gig-h {
    color: $english-violet !important;
  }

// Background for forms
.bg-light {
  background-color: $magnolia !important;
}

// Custom SCSS

// PATH TO IMAGE
// http://localhost:3000/assets/graphics/Vector_26.png <- working in browser
// app/assets/images/graphics/Vector_26.png <- relative path
// /Users/johanneshofmann/code/schmojojo/rails-get-your-gig-final-project/app/assets/images/graphics/Vector_26.png <- absolute path

// .footer-section .container h1
// {
// 	color: white !important;
// }

.footer-section .container h1 .newsletter
{
	// font-family:'Axalp Extrabold', Arial, sans-serif !important;
	// font-weight: normal !important;
	// color: white !important;
	z-index: 0;
	display: inline-block;
	position: relative;
	overflow: visible;
}
.footer-section .container h1 .newsletter::before
{
	content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, 13%); /* Centers exactly */
  width: 100%;
  height: 100%;
  background-image: url('http://localhost:3000/assets/graphics/Vector_26.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}

// Example:
// .h2home
// {
// 	color: white !important;
// }

// .h2home .well-crafted
// {
// 	font-family:'Axalp Extrabold', Arial, sans-serif !important;
// 	font-weight: normal !important;
// 	color: white !important;
// 	z-index: 0;
// 	display: inline-block;
// 	position: relative;
// 	overflow: visible;
// }
// .h2home .well-crafted::before
// {
// 	content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-51%, -3%); /* Centers exactly */
//   width: 100%;
//   height: 100%;
//   background-image: url('https://buerohofmann.com/wp-content/uploads/2025/06/12_words_markup.svg');
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   z-index: -1;
//   pointer-events: none;
// }
