<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4 text-center">Edit Gig</h1>
      <%# It reuses the exact same form partial! %>
      <%= render 'form', gig: @gig %>
    </div>
  </div>
</div>
