<%= turbo_frame_tag dom_id(@gig) do %>
  <div class="">
    <div class="row justify-content-center">
      <div class="col-md-8 w-100">
        

        <%= render 'form', gig: @gig %>
      </div>
    </div>
  </div>
<% end %>
